ul {
    list-style: none;
    padding: 0;
    border: 0;
}

ul.pagination li {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

ul.pagination li a {
    text-decoration: none;
    font-size: 1rem;
}

.page-selection {
    width: 48px;
    height: 30px;
}

@media (prefers-color-scheme: dark) {

    ul.pagination li.active {
        color: rgb(52, 52, 52);
        background-color: #77b3ec;
        border-radius: 25px;
    }
    
    ul.pagination li:hover {
        color: #1e62a1;
        background-color: #c3e2ff;
        border-radius: 25px;
    }
    
    .pagination {
        display: flex;
        justify-content: center;
        width: auto;
        margin-top: 3em;
        color: #ffffff;
    }
    
}

@media (prefers-color-scheme: light) {

    ul.pagination li.active {
        color: white;
        background-color: #ffb3b3;
        border-radius: 25px;
    }
    
    ul.pagination li:hover {
        color: #ff7676;
        background-color: #ffd8d8;
        border-radius: 25px;
    }
    
    .pagination {
        display: flex;
        justify-content: center;
        width: auto;
        margin-top: 3em;
        color: #3f3f3f;
    }
    
}