/* tailwind sm: 과 같은 반응형 크기 */
@media (max-width: 640px){
  /* navigation */
  .react-calendar__navigation {
    align-items: center;
    margin-bottom: 0.7em;
  }
  /* 상단 navigation 버튼 (<< < > >>) */
  .react-calendar__navigation button {
    min-width: 44px;
    background: none;
    font-size: large;
    color: #626262;
    align-self: center;
    border-radius: 25px;
  }
  /* 상단 navigation 라벨 (XXXX년 XX월) */
  .react-calendar__navigation__label > span {
    vertical-align: middle;
    font-size:  medium;
    font-weight: 600;
    color: #424242;
    align-self: center;
  }
  /* 상단 navigation 라벨 (XXXX년 XX월) - hover */
  .react-calendar__navigation__label:focus,
  .react-calendar__navigation__label:hover {
    background-color: #e6e6e6;
    color: #ff7676;
  }
  .react-calendar__navigation button:enabled:hover{
    color: #ffa8a8;
    border-radius: 25px;
  }
  .react-calendar__month-view__days__day abbr {
    /* width: 100%; */
    text-align: left;
    border-radius: 25px;
  }
  /* tile */
  .react-calendar__tile {
    font-size: xx-small;
  }
  /* 일 */
  .react-calendar__month-view__days__day {
    padding: 0.1em;
    height: 9em;
  }
  .react-calendar__month-view__weekdays {
    margin-top: 0.5em;
    line-height: 1.6em;
    font-size: small;
  }
  .react-calendar__tile abbr {
    /* width: 100%; */
    padding: 0.5em;
  }
}

/* tailwind md: 과 같은 반응형 크기 */
@media (min-width: 640px){
  /* navigation */
  .react-calendar__navigation {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    align-items: center;
  }
  /* 상단 navigation 버튼 (<< < > >>) */
  .react-calendar__navigation button {
    min-width: 44px;
    background: none;
    font-size: xx-large;
    color: #626262;
    align-self: center;
    border-radius: 25px;
  }
  /* 상단 navigation 라벨 (XXXX년 XX월) */
  .react-calendar__navigation__label > span {
    vertical-align: middle;
    padding-right: 20px;
    padding-left: 20px;
    font-size:  large;
    font-weight: 600;
    color: #424242;
    align-self: center;
  }
  /* 상단 navigation 라벨 (XXXX년 XX월) - hover */
  .react-calendar__navigation__label:focus,
  .react-calendar__navigation__label:hover {
    background-color: #e6e6e6;
    color: #ff7676;
  }
  .react-calendar__navigation button:enabled:hover{
    color: #ffa8a8;
    border-radius: 25px;
  }
  .react-calendar__month-view__days__day abbr {
    /* width: 100%; */
    text-align: left;
    padding: 0.4em;
    border-radius: 25px;
  }
  /* tile */
  .react-calendar__tile {
    font-size: small;
  }
  /* 일 */
  .react-calendar__month-view__days__day {
    padding: 0.4em;
    height: 9em;
  }
  .react-calendar__month-view__weekdays {
    line-height: 3em;
    font-size: large;
  }
  .react-calendar__tile abbr {
    /* width: 100%; */
    padding: 0.7em;
  }
}
/* tailwind lg: 과 같은 반응형 크기 */
@media (min-width: 1024px){
  
}
/* tailwind xl: 과 같은 반응형 크기 */
@media (min-width: 1024px){
  
}


.react-calendar {
  justify-content: center;
  text-align: center;
  font-family: var(--font-leeseoyun);
}
/* 일 */
.react-calendar__month-view__days__day {
  text-align: start;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-items: center;
  overflow: visible;
}

/* 선택 날짜 hover 및 focus event => 날짜 abbr에 대한 div에 변화 */
.react-calendar__tile--hasActive > abbr {
  background-color: #ff7676;
  color: white;
}
.react-calendar__tile--hasActive:enabled:hover > abbr {
  background-color: #ffcdce;
  color: white;
  transition-duration: 400ms;
}
.react-calendar__tile:enabled:hover > abbr {
  background-color: #ffcdce;
  color: white;
  transition-duration: 400ms;
}
.react-calendar__tile--active > abbr {
  background-color: #ff7676;
  color: white;
}
.react-calendar__tile--active:enabled:hover > abbr {
  background-color: #ffcdce;
  color: white;
  transition-duration: 400ms;
}

.react-calendar__tile abbr {
  /* width: 100%; */
  border-radius: 25px;
}
.react-calendar__month-view__days__day div {
  overflow: visible;
}
.react-calendar__month-view__days__day .dayBox {
  width: 100%;
}
/* 일 - 주말 */
.react-calendar__month-view__days__day--weekend {
color: #d10000;
}
/* 일 - 다른 달 날짜 */
.react-calendar__month-view__days__day--neighboringMonth {
  color: #9b9b9b;
}
/* tile */
.react-calendar__tile {
  max-width: 100%;
  background-color: none;
  border-radius: 25px;
}
.react-calendar__tile:disabled {
  background-color: #cdcdcd;
}
.react-calendar ,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* button */
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
/* button - hover */
.react-calendar button:enabled:hover {
  cursor: pointer;
  transition-duration: 400ms;
}

/* 년, 월 등 선택 view */
.react-calendar__year-view button,
.react-calendar__decade-view button,
.react-calendar__century-view button,
.react-calendar__month-view button {
  justify-content: center;
  align-items: center;
  padding: 1em;
  border-radius: 25px;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  justify-content: center;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 0.75em;
  font-weight: bold;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  color: #5d5d5d;
  font-weight: 600;
}
