name: Jaksim31-Frontend CI/CD
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "develop" ]
    
jobs:
  Jaksim31-Front:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.1
        with:
          persist-credentials: false
          
      # NPM install & Build
      - name: Install and Build
        uses: actions/setup-node@v1
        with:
          node-version: 16
      - run: npm install
      - run: npm install sharp
      - run: npm run build
        env:
          NEXT_PUBLIC_UNSPLASH_ACCESSKEY: ${{ secrets.NEXT_PUBLIC_UNSPLASH_ACCESSKEY }}
          NEXT_PUBLIC_BASE_URL: ${{ secrets.NEXT_PUBLIC_BASE_URL }}
          NEXT_PUBLIC_API_URL: ${{ secrets.NEXT_PUBLIC_API_URL }}
          NEXT_PUBLIC_KAKAO_CLIENT_ID: ${{ secrets.NEXT_PUBLIC_KAKAO_CLIENT_ID }}
          NEXT_PUBLIC_KAKAO_REDIRECT_URL: ${{ secrets.NEXT_PUBLIC_KAKAO_REDIRECT_URL }}
          NEXT_PUBLIC_KAKAO_API_AUTH_URL: ${{ secrets.NEXT_PUBLIC_KAKAO_API_AUTH_URL }}
          NEXT_PUBLIC_KAKAO_API_AUTH_ACCESSKEY: ${{ secrets.NEXT_PUBLIC_KAKAO_API_AUTH_ACCESSKEY }}
          NEXT_PUBLIC_KAKAO_API_AUTH_SECRET: ${{ secrets.NEXT_PUBLIC_KAKAO_API_AUTH_SECRET }}
          NEXT_PUBLIC_KAKAO_FILE_UPLOAD_URL: ${{ secrets.NEXT_PUBLIC_KAKAO_FILE_UPLOAD_URL }}
          NEXT_PUBLIC_KAKAO_FILE_VIEW_URL: ${{ secrets.NEXT_PUBLIC_KAKAO_FILE_VIEW_URL }}
          NEXT_PUBLIC_DEFAULT_PROFILE: ${{ secrets.NEXT_PUBLIC_DEFAULT_PROFILE }}
      
      # NPM caching
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: 'npm'
          
      # Docker Buildx Setting
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      # Docker Login
      - name: Docker Login
        uses: docker/login-action@v2.1.0
        with:
          # Username used to log against the Docker registry
          username: ${{ secrets.DOCKER_ID }}
          # Password or personal access token used to log against the Docker registry
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Docker Build & Push    
      - name: Docker Build and push
        uses: docker/build-push-action@v2
        with:
            context: .
            file: ./Dockerfile
            platforms: linux/amd64
            push: true
            tags: r2god7k/jaksim31-frontend:latest
            cache-from: type=gha    # gha=Github Action Cache
            cache-to: type=gha,mode=max

      # SSH Connect - (Web1)
      - name: Deploy to Web1
        uses: appleboy/ssh-action@master
        with: 
            host: ${{ secrets.REMOTE_IP }}
            username: ${{ secrets.REMOTE_SSH_ID }}
            key: ${{ secrets.REMOTE_SSH_KEY }}
            port: ${{ secrets.REMOTE_SSH_PORT }}
            script: |
              ls -a
              sudo su
              # sudo chmod 666 /var/run/docker.sock
              sudo /usr/sbin/groupadd -f docker
              sudo /usr/sbin/usermod -aG docker `user`
              sudo chown root:docker /var/run/docker.sock
              docker pull r2god7k/jaksim31-frontend:latest
              docker stop jaksim31-frontend
              docker rm jaksim31-frontend
              docker run -d -p 3000:3000 --name jaksim31-front --network centos_default r2god7k/jaksim31-frontend:latest
              sleep 10s
              
      # SSH Connect - (Web2)
      - name: Deploy to Web2
        uses: appleboy/ssh-action@master
        with: 
            host: ${{ secrets.REMOTE_IP }}
            username: ${{ secrets.REMOTE_SSH_ID }}
            key: ${{ secrets.REMOTE_SSH_KEY }}
            port: ${{ secrets.REMOTE_SSH_PORT_2 }}
            script: |
              ls -a
              sudo su
              # sudo chmod 666 /var/run/docker.sock
              sudo /usr/sbin/groupadd -f docker
              sudo /usr/sbin/usermod -aG docker `user`
              sudo chown root:docker /var/run/docker.sock
              docker pull r2god7k/jaksim31-frontend:latest
              docker stop jaksim31-frontend
              docker rm jaksim31-frontend
              docker run -d -p 3000:3000 --name jaksim31-front --network centos_default r2god7k/jaksim31-frontend:latest
              sleep 10s
